@charset "UTF-8";

:root{
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #eeeeee;
	--color-dark-white: #bdbdbd;
	--color-pink: #ff6863;
	--color-dark-pink: #FF33E6;
	--color-dark-grey: #4d4d4d;
	--color-light-grey: #7c7979;
	--color-yellow: #fff7d1;
	--color-orange: #feb546;
	--color-black: #000000;
	--color-blue: #0008FF;
	
	
	
	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;
	
	
	/*Font weight */
	
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;
	
	/* Size */
	--size-border-radius: 4px;
	
	/* Animation duration */
	--animation-duration: 300ms;
	
}

/* Universal tags */
* {
	box-sizing : border-box;
		
	}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration : none;
	color: var(--color-white);
}

ul{
	list-style : none;
	padding-left: 0;
}

/* Typography */

h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin : 16px 0;
	
	
	}


h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
	
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

p {
	font-size : var(--font-regular);
	font-weight: var(--font-regular);
	color: var(--color-black);
	margin:4px 0;
}

button {
	background-color: transparent;
	cursor: pointer;
	border: none;
	outline : none;
}

/* Navbar */
#navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-pink);
	align-items: center; 
	color : var(--color-white);
}

.navbar__menu {
	display : flex;
}

.navbar__logo {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
	padding : 8px 12px;
	margin : 0;
	
}


.navbar__menu__item:hover{
	border: 1px solid var(--color-white);
	background-color: var(--color-dark-pink);
	border-radius: var(--size-border-radius);	
}

/* Home */
#Home {
	background: url('imgs/background.jpg');
	padding: 40px;
	text-align: center;
}

.home__avatar {
	width : 400px;
	height : 250px;
	border-radius: 50%;
	border : 2px solid var(--color-pink);
}

.home__title, 
.home__description {
	color: var(--color-black);
}

.home__contact {
	font-size: var(--font-regular);
	font-weight: var(--weight-bold);
	margin: 24px;
	padding : 8px 12px;
	border: 2px solid var(--color-black);
	border-radius : var(--size-border-radius);
}

/*Section Common */
.section {
	padding : 50px;
	text-align: center;
	max-width: 1200px;
	margin : auto;
}

.about__majors{
	display: flex;
	justify-content:space-between;
	margin: 80px 0;
}

.major__icon {
	width: 170px;
	height: 170px;
	background_color : yellow;
	font-size: 70px;
	line-height: 170px;
	margin : auto;
	border : 1px solid var(--color-blue);
	border-radius : 50%;
}

.major__icon:hover i {
	color: var(--color-pink);
	transform: rotate(-360deg) scale(0.8);
}

.major__icon i {
	transition: all var(--animation-duration);
}

.major__title, .major__description{
	color: var(--color-dark-grey);
}

.major__description {
	font-size: var(--font-small);
}

.job {
	display: flex;
}

.job__logo {
	width:250px;
	height: 250px;
	border : 1px solid var(--color-black);
	border-radius : 50%;
}

.job {
	display: flex;
	align-items: center;
}


.job__description{
	margin : 0 16px;
	text-align: left;
	color: var(--color-light-grey);
}

.job__name {
	font-size : var(--font-small);
}

.job__period {
	font-size: var(--font-micro);
}









